:root {
  --primary-bg-color: #5ca19c;
  --secondary-bg-color: #f2f2f2;
  --primary-text-color: #424242;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "roboto", sans-serif;
  text-align: left;
  color: var(--primary-text-color);
  background-color: var(--secondary-bg-color);
}

.nav-container {
  padding: 1rem;
  background-color: var(--primary-bg-color);
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-items: end;
}

.search-area {
  display: flex;
  align-items: center;
  width: 50vw;
  background-color: var(--secondary-bg-color);
  padding: 0.5rem 1rem 0.5rem 2rem;
  border-radius: 5px;
  border: none;
}

.add-button {
  border: 1px solid var(--primary-text-color);
  border-radius: 10px;
  padding: 0.5rem;
  font-weight: bold;
  cursor: pointer;
}

.add-button:active {
  background-color: #d9d9d9;
  cursor: pointer;
}

.add-button:visited {
  background-color: none;
}

.magnifying-glass {
  position: absolute;
  color: #7c7c7c;
  height: 100%;
  left: 0.5rem;
  display: flex;
  align-items: center;
}

input,
textarea {
  color: var(--primary-text-color);
  font-size: 1rem;
}

.overlay {
  display: none;
  width: 100vw;
  height: 100vh;
  background-color: var(--secondary-bg-color);
  padding-top: 1.5rem;
}

.contact-form {
  width: 80vw;
  background-color: var(--secondary-bg-color);
  margin: 0 auto;
}

.contacts-container {
  padding: 1rem;
}

.form-input {
  box-sizing: border-box;
  width: 100%;
  border: none;
  padding: 0.5rem 2rem 0.5rem 0.5rem;
  margin: 0.5rem 0;
  border-radius: 5px;
}

.hidden {
  display: none;
}

#contact-list {
  margin-top: 1rem;
}

.contact-item {
  padding: 0.75rem 0;
  text-transform: capitalize;
}

.separator {
  border-bottom: 1px solid #d9d9d9;
}

.no-results {
  padding: 2rem;
  text-align: center;
}

.form-submit {
  background-color: var(--primary-bg-color);
  color: var(--secondary-bg-color);
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
}

.form-cancel {
  border: none;
  border-radius: 5px;
  padding: 0.5rem;
  cursor: pointer;
  text-decoration: underline;
  background-color: unset;
}

label.error {
  color: red;
  font-size: small;
}

.form-input.error {
  border: 1px solid red;
  margin-bottom: 0 !important;
}

.contact-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #fbd7c3;
  width: fit-content;
  margin: 0 auto;
  border-radius: 5px;
}

.contact-detail-item {
  margin-bottom: 1rem;
  padding: 0.2rem 0.5rem;
  border: 1px solid #4242424a;
  border-radius: 5px;
  width: 100%;
  min-width: 15rem;
}

#back-button {
  width: fit-content;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  margin-left: 1rem;
  background-color: var(--primary-bg-color);
  padding: 0.3rem 0.6rem;
  border-radius: 5px;
  cursor: pointer;
}

#delete-contact {
  margin-top: 1rem;
  align-self: flex-end;
  text-decoration: underline;
}
